
header{
	background: #51ff44;
	padding: 10px 0;
	color: #000000;
}


#OSTEO{
	width: 260px;
	margin: auto;
	display: block;
}

footer{
	background: #51ff44;
	padding: 10px 0;
	color: #000000;
}

#principal{
	width: 460px;
	margin: auto;
	display: block;
}

